# This file is described here:  https://help.github.com/en/articles/about-code-owners

# Global Owners: These members are Core Maintainers of cnab-to-oci
CODEOWNERS      @silvin-lubecki @radu-matei @carolynvs
LICENSE         @silvin-lubecki @radu-matei @carolynvs
CONTRIBUTING.md @silvin-lubecki @radu-matei @carolynvs
GOVERNANCE.md   @silvin-lubecki @radu-matei @carolynvs
